.contacts {
    margin-top: 80px;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
            
        & ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            list-style: none;
            margin-top: 40px;            
        }

        & li {
            font-size: 2rem;
        }

    }
}

.link__mail, .link__phone {
    color: $blue;    
    display: flex;
    align-items: center;
    &::before {
        content: '';
        background-repeat: no-repeat;
        background-size: cover;
        width: 32px;
        height: 32px;
        display: block;   
        margin-right: 10px;
    }
}

.link__phone {
    
    &::before {        
        background-image: url("../img/phone.svg");        
    }
}

.link__mail {
    
    &::before {        
        background-image: url("../img/mail.svg");        
    }
}
