.contacts {
    
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
            
        & ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            list-style: none;
            margin-top: 40px;            
        }

        & li {
            font-size: 2rem;
        }

        & form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: 40px;
        }

        & input, textarea {
            border: 2px solid $blue;
            font-size: 1.6rem;
            padding: 5px;
        }

        & button {
            border: 2px solid $blue;
            padding: 15px;
            border-radius: 5px;
            background-color:  rgba(31, 91, 255, 0.2);    
        }
    }
}

.link__mail, .link__phone, .link__telegramm {
    color: $blue;    
    display: flex;
    align-items: center;
    &::before {
        content: '';
        background-repeat: no-repeat;
        background-size: cover;
        width: 32px;
        height: 32px;
        display: block;   
        margin-right: 10px;
    }
}

.link__phone {
    
    &::before {        
        background-image: url("../img/phone.svg");        
    }
}

.link__mail {
    
    &::before {        
        background-image: url("../img/mail.svg");        
    }
}

.link__telegramm {
    
    &::before {        
        background-image: url("../img/telegramm.svg");        
    }
}
