.history {
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        max-width: 600px;
        
    }

    & figure {
        margin-top: 40px;
        text-align: center;
    }

    & figcaption {
        padding-top: 10px;
        font-size: 1.6rem;
    }
}

#history {

    & h2 {
        text-align: left;
    }
}