.main {

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        
        @media (max-width: 720px) {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
    }

    &__content_list {
        list-style: circle;
        list-style-position: outside;
        padding-left: 25px;
        list-style-image: url('../img/check.svg');
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
                
        &_item {

            font-size: 1.6rem;
            
            &::marker {
                font-size: 1.7rem;
            }
        }
    }
        
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding-top: 60px;

        @media (max-width: 1080px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 720px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__grid_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 5px 5px rgb(220, 223, 226);
    }

    &__grid_list {

        list-style: circle;
        list-style-position: outside;
        padding-left: 20px;
        line-height: 30px;

        &_item {
            font-size: 1.2rem;
            &::marker {
                color: $blue;
            }
        }
    }    

    &__grid_item_footer {
        color: $red;
        font-size: 1.8rem;
        text-align: center;        
    }
}

img {
    border-radius: 5px;
}
