.main {

    margin-top: 100px;

    &__title {
        font-size: 40px;
        font-weight: 700;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        
        @media (max-width: 720px) {
            flex-direction: column;
        }
    }

    &__content_list {
        list-style: circle;
        list-style-position: inside;
        list-style-image: url('../img/check.svg');
        
        &_item {

            font-size: 1.5em;
            
            &::marker {
                font-size: 1.7em;
            }
        }
    }
        
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding-top: 60px;

        @media (max-width: 1080px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 720px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__grid_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 5px 5px rgb(220, 223, 226);
    }

    &__grid_list {

        list-style: circle;
        list-style-position: inside;
        line-height: 30px;

        &_item {
            font-size: 1.2em;
            &::marker {
                color: $blue;
            }
        }
    }    

    &__grid_item_footer {
        color: $blue;
        font-size: 1.7em;
        text-align: center;        
    }
}
