@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$background: #f4f2f5;
$blue: #1f5bff;
$black: rgba(0, 0, 0, 0.75);
$white: #ffffff;
$red: rgba(255, 0, 0, 0.75);

html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: $black;
    @media (max-width: 1024px) {
        font-size: 14px;
    }
    @media (max-width: 720px) {
        font-size: 12px;
        //-webkit-text-size-adjust: 100%;
    }
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: none;
}


body {
    background-color: $background;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-size: 2.6rem; 
    font-weight: 700;   
}

h2 {
    font-size: 2.3rem;
    font-weight: 700;
    padding-top: 140px;
}

h3 {
    font-size: 2rem;
    font-weight: 400;   
    color: $blue; 
}